$icon-size: 30px;

.ExpandIcon {
  &.open {
    transform: rotate(-180deg);
  }
  &.closed {
    animation-name: closed-expand-icon;
  }
  transition: transform 0.4s ease-in-out;
  width: $icon-size;
  height: $icon-size;
}
