.container {
  position: sticky;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #211f5c;
}

.theme {
  background-color: black;
  border-radius: 0.4rem;
  margin: 0.8rem;
  padding: 0.3rem 0.55rem;
}

.logout {
  & > button {
    background-color: black;
    color: white;
  }
  border-radius: 0.4rem;
  margin: 0.8rem 0 0.8rem 0.2rem;
  padding: 0.3rem 0.55rem;
  width: 200px;
}
